*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav {
    background-color: aqua;
    height: 80px;
    width: 100%;
}
label.logo {
    font-size: 24px;
    line-height: 80px;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    
}
nav ul li a {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.checkbtn{
    font-size: 24px;
    float: right;
    line-height: 80px;
    color: white;
    display: none;
    margin-right: 20px;
}
#check {
    display: none;
}
.tab1 {
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    text-align: center;
    height: 80px;
    border: solid 1px black;
    padding: 50px;
}
footer {
    background-color: black;
    width: 100%;
   
}
footer p {
    text-align: center;
    color: white;
    margin-top: 320px;
    height: 80px;
    padding: 10px;
}
@media(max-width:850px) {
label.logo {
    font-size : 15px;
    margin-left: 10px;
    font-weight: bold;
}
ul {
    position: fixed;
    width: 100%;
    height: 80vh;
    top: 80px;
    left: -100%;
    background-color: rgb(185, 245, 245);
    transition: .5s;
    text-align: center;

}
nav ul li {
    display: block;
}
nav ul li a {
    font-size: 20px;
}
.checkbtn {
    display: block;
}
#check:checked ~ ul {
    left: 0;
}
}
